{# Release Ports back to root #}
{%- if vxlan | default([]) | length > 0 %}
config router bgp
config evpn
set advertise-vni enable
config vni
{% for item in vxlan %}
edit {{ item.vni }}
next
{% endfor %}
end
end
end
config system vxlan
{% for item in vxlan %}
edit {{ item.name }}
set vni {{ item.vni }}
set vlanid {{ item.vlanid }}
set interface {{ item.interface }}
set evpn {{ item.evpn }}
set arp-nd-suppression {{ item.arp_nd_suppression }}
next
{% endfor %}
end
{% endif -%}
